.hero {
  min-height: 750px;
  background-image: image-url("images/pc/mv1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  overflow: hidden;
  position: relative;

  h1.caption {
    padding-top: 625px;
    font-size: 1.5rem;
    color: #fff;
  }
}

$blur_size: 8px;

.hero:before{
  content: '';
  background: inherit;
  filter: blur($blur_size);
  position: absolute;
  top:    -$blur_size;
  left:   -$blur_size;
  right:  -$blur_size;
  bottom: -$blur_size;
  z-index: -1;
}
