@charset "utf-8";
@import "_definition.scss";
@import "_hero.scss";

header {
  position: absolute;
  width: 100%;
  background-color: #fff;
  opacity: 0.9;
  height: 70px;
  z-index: 1;

  ul {
    margin-top: 22px;

    li {
      float: left;
      list-style: none;
      margin-left: 20px;
      font-size: 1.5rem;

      a {
        color: #000;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  header {
    height: 55px;

    ul {
      margin-top: 17px;
      padding-left: 10px;

      li {
        margin-left: 7px;
        font-size: 1.4rem;
      }
    }
  }
}

footer {
  background-color: $dark_blue;
  color: #fff;
  height: 70px;
  margin-top: -20px;

  .footer-logo {
    display: none;
  }

  ul {
    li {
      float: left;
      list-style: none;
      margin-left: 20px;
      font-size: 1.5rem;
      vertical-align: middle;
      line-height: 65px;

      a {
        color: #fff;
      }
    }
  }

  .right {
    float: right;
    margin-right: 20px;
  }

  .twitter-btn, .suzuri-btn {
    width: 182px;
    height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
  }

  .suzuri-btn {
    background-image: image-url("suzuri.png");
    background-size: 182px 50px;
    margin-right: 4px;
  }
  .suzuri-btn:hover {
    background-image: image-url("suzuri_hover.png");
  }

  .twitter-btn {
    background-image: image-url("twitter.png");
    background-size: 182px 50px;
  }
  .twitter-btn:hover {
    background-image: image-url("twitter_hover.png");
  }
}

@media screen and (max-width: 480px) {
  footer {
    background-color: #fff;
    color: #000;
    margin: 0 10px;
    height: auto;
    margin-top: auto;

    .footer-logo {
      display: block;
      margin: 0 auto;
    }

    .footer-menu {
      position: relative;
      overflow: hidden;

      ul {
        padding-left: 0px;
        position: relative;
        float: left;
        left: 50%;

        li {
          font-size: 1.4rem;
          margin-left: 5px;
          position: relative;
          left: -50%;

          a {
            color: #000;
          }
        }
      }
    }

    .right {
      display: flex;
      justify-content: space-around;;
      width: 100%;
      margin: 0;
      margin-bottom: 30px;

      .twitter-btn, .suzuri-btn {
        float: left;
        width: 143px;
        height: 40px;
        background-size: 143px 40px;
        margin: 0;
      }
    }
  }
}

.event {
  padding-bottom: 60px;

  .datetime {
    font-size: 2.5rem;
    margin-bottom: 5px;
  }

  .venue {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }

  .sq-btn {
    display: block;
    background-color: $blue;
    color: #fff;
    width: 230px;
    min-height: 50px;
    padding: 10px;
    margin: 0 auto;
    vertical-align: middle;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2rem;

    a {
    }
  }
  .sq-btn:hover {
    background-color: #fff;
    border: 3px solid $blue;
    min-height: 44px;
    line-height: 24px;
    color: $blue;
    text-decoration: none;
  }
}

@media screen and (max-width: 480px) {
  .event {
    .datetime {
      font-size: 2rem;
    }
  }
}

.black-container {
  background-color: $dark_blue;
  color: #fff;
}

.members {
  width: 80%;
  max-width: 820px;
  margin: 0 auto;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;

  .member {
    min-height: 120px;
    padding-top: 22px;
    padding-bottom: 22px;
    margin: 0px 0;
    border-top: 1px solid $border_line;
    width: 386px;
    display: flex;

    .name {
      border-bottom: 1px solid $dark_yellow;

      .service {
        img {
        }
      }
    }

    .left {
      float: left;
    }
    .right {
      margin-left: 100px;

      .profile {
        padding-top: 10px;
      }
    }
  }
  .member:nth-last-child(2),
  .member:last-child {
    border-bottom: 1px solid $border_line;
  }
}

@media screen and (max-width: 945px) {
  .members {
    width: 90%;
    padding-bottom: 50px;

    .member {
      padding-top: 11px;
      padding-bottom: 11px;
      min-height: 100px;
      margin: 0 auto;

      .left {
        .icon {
          img {
            width: 65px;
          }
        }
      }

      .right {
        margin-left: 80px;

        .profile {
          padding-top: 6px;
        }
      }
    }
  }
}

.time-table {
  width: 50%;
  margin: 0 auto;

  p {
    font-size: 1.8rem;
    margin-bottom: 50px;
  }

  table {
    tr {
      td.time {
        padding: 19px 10px;
      }

      td.dj {
        padding: 18px 10px;
        font-size: 1.5rem;
      }
    }

    small {
      color: #cccbcc;
    }
  }
}

@media screen and (max-width: 480px) {
  .time-table {
    width: 100%;

    p {
      font-size: 1.5rem;
      margin-bottom: 30px;
    }
  }
}

.venues {
  .hako {
    margin-bottom: 8px;
    font-size: 1.7rem;
    font-weight: bold;
  }
  .address {
    margin-bottom: 3px;
    font-family: "Hiragino Kaku Gothic ProN";
  }
  .url {
    margin-bottom: 30px;
  }

  .map {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 480px) {
  .venues {
    padding: 0 15px;
    div.text-center {
      text-align: left;

      p.address {
        margin-top: 10px;
        margin-bottom: 0;
      }

      p.text-yellow.hako {
        margin-bottom: 20px;
      }

      p {
      }
    }
    .map {
      iframe {
        width: 100%;
      }
    }
  }
}
