@charset "utf-8";

body {
  font-family: sans-serif;
  background-color: #f7f3f9;
}

h1 {
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  padding: 350px 0 10px;
  margin: 0;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.welcome {
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fbfbfb;

  img {
    width: 380px;
    text-align: center;
  }
}

img.animation {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

.members {
  ul {
    list-style: none;
    li {
      img {
        width: 150px;
      }
    }
  }
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
