@charset "utf-8";
@import "_definition.scss";
@import "_hero.scss";

header {
  position: absolute;
  width: 100%;
  background-color: #fff;
  opacity: 0.9;
  height: 70px;
  z-index: 1;

  ul {
    margin-top: 22px;

    li {
      float: left;
      list-style: none;
      margin-left: 20px;
      font-size: 1.5rem;

      a {
        color: #000;
      }
    }
  }
}

.footer {
  background-color: $dark_blue;
  color: #fff;
  height: 50px;

  ul {
    li {
      float: left;
      list-style: none;
      margin-left: 20px;
      font-size: 1.5rem;

      a {
        color: #fff;
      }
    }
  }
}

.event {
  padding-bottom: 60px;

  .datetime {
    font-size: 2.5rem;
    margin-bottom: 5px;
  }

  .venue {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .sq-btn {
    display: block;
    background-color: $blue;
    color: #fff;
    width: 230px;
    min-height: 50px;
    padding: 10px;
    margin: 0 auto;
    vertical-align: middle;
    line-height: 30px;

    a {
    }
  }
  .sq-btn:hover {
    background-color: #fff;
    border: 3px solid $blue;
    min-height: 44px;
    line-height: 24px;
    color: $blue;
    text-decoration: none;
  }
}

@media screen and (max-width: 480px) {
  .event {
    .datetime {
      font-size: 2rem;
    }
  }
}

.black-container {
  background-color: $dark_blue;
  color: #fff;
}

.members {
  width: 80%;
  max-width: 820px;
  margin: 0 auto;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;

  .member {
    min-height: 120px;
    padding-top: 22px;
    padding-bottom: 22px;
    margin: 0px 0;
    border-top: 1px solid $border_line;
    width: 386px;
    display: flex;

    .name {
      border-bottom: 1px solid $yellow;

      .service {
        img {
        }
      }
    }

    .left {
      float: left;
    }
    .right {
      margin-left: 120px;

      .profile {
        padding-top: 10px;
      }
    }
  }
  .member:nth-last-child(2),
  .member:last-child {
    border-bottom: 1px solid $border_line;
  }
}

@media screen and (max-width: 480px) {
  .members {
    width: 90%;

    .member {
      padding-top: 11px;
      padding-bottom: 11px;
      min-height: 100px;

      .left {
        .icon {
          img {
            width: 65px;
          }
        }
      }

      .right {
        margin-left: 80px;

        .profile {
          padding-top: 6px;
        }
      }
    }
  }
}

.time-table {
  width: 50%;
  margin: 0 auto;

  p {
    font-size: 2rem;
    margin-bottom: 50px;
  }

  table {
    tr {
      td.dj,
      td.time.text-center {
        padding: 15px 10px;
      }
    }

    small {
      color: #cccbcc;
    }
  }
}

@media screen and (max-width: 480px) {
  .time-table {
    width: 100%;

    p {
      font-size: 1.5rem;
      margin-bottom: 30px;
    }
  }
}

.venues {
  .hako {
    margin-bottom: 30px;
  }
  .map {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 480px) {
  .venues {
    padding: 0 15px;
    div.text-center {
      text-align: left;

      p.address {
        margin-top: 10px;
        margin-bottom: 0;
      }

      p.text-yellow.hako {
        margin-bottom: 20px;
      }

      p {
      }
    }
    .map {
      iframe {
        width: 100%;
      }
    }
  }
}
