---
title: kosendj-bu
---
header
  ul
    li.yellow-border.sm = link_to "EVENT", "#event"
    li ｜
    li.yellow-border.sm = link_to "TIME TABLE", "#time_table"
    li ｜
    li.yellow-border.sm = link_to "MEMBER", "#member"
    li ｜
    li.yellow-border.sm = link_to "ACCESS", "#access"

.hero
  .container
    .logo.text-center
      = image_tag "logo.png", alt: "高専DJ部"
    h1.caption.text-center
      | 「高専DJ部」は高専生やそのOB/OGが集まってDJをやる部活動です。

.container.event(name="event")
  h2.ex-header.text-center.event EVENT
  p.datetime.text-center
    span.yellow-border.md= data.event.date
  /.text-center.venue
  a.sq-btn.sq-btn-blue.text-center(href="https://www.twitch.tv/sabaco_waseda")
      | Twitch
  br
  a.sq-btn.sq-btn-blue.text-center(href="#access")
    | ACCESS

section.warn-notice
  h3 1月28日に開催される高専DJ部 #35 について
  p.text-center
    | 1月28日開催予定の高専DJ部は、新型コロナウイルス感染拡大予防のため、TwiPlaによる参加人数の把握を行います。
    br
    | また、当日はTwitchによる配信を以下のリンクよりご覧いただけます。
  p.text-center
    = link_to "https://www.twitch.tv/sabaco_waseda"
      | https://www.twitch.tv/sabaco_waseda
  p.text-center
    = link_to "https://twipla.jp/events/541589"
      | Twipla予約ページ

a(name="time_table")
.container.time-table
  h2.ex-header.text-center.time-table TIME TABLE
  p.text-center.sub-caption
    | #{data.event.date} @sabaco (and Twitch)
  .time-table
    h3.text-center DJ
    table.table
      - data.event.timetable.each do |tt|
        tr
          td.time.text-center
            = tt.time
          td.dj
            strong = tt.screen_name
            small
              | &nbsp;:&nbsp;
              = tt.genre
    /h3.text-center VJ
    /p.text-center

a(name="member")
.black-container
  h2.ex-header.text-center MEMBER
  .members
    - data.members.each do |member|
      .member
        .border
          .left
            .icon
              = image_tag(member.icon, width: "80px")
          .right
            strong
              span.name = member.name
              = link_to image_tag("new_window.png"), member.services&.first.url, class: "new-window"
            .profile = member.description

a(name="access")
.black-container.venues
  h2.ex-header.text-center.access ACCESS
  .text-center
    p.strong.text-center.hako 茶箱 sabaco
    p.address
      | 東京都新宿区西早稲田2-1-19 YKビル B1F
    p
      |東京メトロ東西線 早稲田駅 2,3b 出口より徒歩約5分
    p.text-yellow.url.text-center
      = link_to "https://sabaco.jp/info/#sabaco", class: "text-yellow" do
        | https://sabaco.jp/info/#sabaco
        = link_to image_tag("new_window.png"), "https://sabaco.jp/info/#sabaco", class: "new-window"
      br
      = link_to "https://www.twitch.tv/sabaco_waseda", class: "text-yellow" do
        | https://www.twitch.tv/sabaco_waseda
        = link_to image_tag("new_window.png"), "https://www.twitch.tv/sabaco_waseda", class: "new-window"
    .map
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5660.401607413774!2d139.71482921860746!3d35.706566315441385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x10c76fd46b7ed7f2!2z6Z-z5qW95Zar6Iy2U2FiYWNv!5e0!3m2!1sja!2sjp!4v1493725017887" width="70%" height="320" frameborder="0" style="border:0" allowfullscreen)

footer
  = image_tag "logo_b.png", width: "200px", class: "footer-logo"
  .footer-menu
    ul
      li = link_to "EVENT", "#event"
      li ｜
      li = link_to "DJ", "#dj"
      li ｜
      li = link_to "TIME TABLE", "#time_table"
      li ｜
      li = link_to "ACCESS", "#access"
  .right
    a.suzuri-btn(href="https://suzuri.jp/namamana")
    a.twitter-btn(href="https://twitter.com/search?f=tweets&vertical=default&q=%23kosendj&src=typd")

javascript:
  $(function(){
    var index = Math.floor(Math.random()*6);
    var directory = "pc"
    if(window.navigator.userAgent.toLowerCase().match(/(iphone|android)/i)) {
      directory = "sp"
    }
    var url = 'images/' + directory + '/mv' + index + '.jpg';
    document.querySelector(".hero").style.cssText = "background-image: url("+ url +")";
  })
