on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: '12'
      - run: yarn install

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7

      - run: bundle install

      - name: Build
        run: bundle exec middleman build
